@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --height: 50%;
  --bg-color: #ffffff;
  -fg-color: #000000;
}

body{
  margin: 1em;
  font-family: "Nunito", sans-serif;

}

header{
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(0, 70%, 40%);
  color: hsl(0, 70%, 80%);
}

#search{
  order: 1;
}

main section{

  padding: 1em;
  border-bottom: 0.5px dotted hsl(0, 70%, 80%);

}

@media screen and (min-width: 420px) {

  header{
    flex-direction: row;
  }

}

@media screen and (min-width: 900px){
  header,main section {
    padding: 1em 25vw;
  }

}

input:invalid{
  background-color: hsl(0, 70%, 70%);
  border-color: hsl(0, 100%, 70%);
}

.relative{
  position:relative;
}

#heightTarget{
  position: absolute;
  bottom: 0;
  right: 1em;
  width: 4em;
  background-color: hsl(0, 70%, 40%);
  height: var(--height);
  transition: 0.4s;
}

#colors{
  background-color: var(--bg-color);
  color: var(--fg-color);
}
